.contact{
    min-height: 750px;
    overflow: hidden;
}
.contactimage{
    position: absolute;
    min-height: 750px;
    width: 100%;
    z-index: -3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay1{
    position: absolute;
    width: 100%;
    min-height: 750px;
    z-index: -1;
    background: linear-gradient(rgba(21, 21, 21,0.6), rgba(21, 21, 21,0.6));
}
.contact .s-shadow{
    z-index: -1;
}
.c-body{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 50%;
}
.c-content{
    display: flex;
    align-items: center;
    justify-content:center;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input, textarea{
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    margin-bottom:1rem;
    color: white;
    resize: none;
}
.form-group input::placeholder, textarea::placeholder{
    color: rgb(179, 179, 179);
    font-weight: 100;
}
.c-body h1{
    color: white;
    font-size: 1.9rem;
    font-family: 'Courier New';
}
.c-body hr{
    color: white;
    width:15rem;
    margin: -8px 0 20px 0;

}
.form label{
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.form{
    background:none;
    padding: 1.5rem;
    backdrop-filter: blur(5px);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.form button{
    background: rgba(0,0,0,0.6);
    border: none;
    width: 10rem;
    height: 2.5rem;
    letter-spacing: 2px;
}
.opacity1{
    opacity: 0;
}

@media screen and (max-width:700px){
    .c-body{
        width: 80%;
    }
}
@media screen and (max-width:600px){
    .c-body h1{
        font-size: 1.6rem;
    }
    .c-body hr{
        width: 12rem;
    }
}
@media screen and (max-width:500px){
    .form-group label{
        font-size: 0.9rem;
    }
    .contact, .contactimage, .overlay1{
        min-height: 600px;
    }
    .form-group input, textarea{
        font-size: 0.8rem;
    }
}