.footer{
    height: 20vh;
    width: 100%;
    background: #151515;
}

.f-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
}
.f-icon svg{
    transform: scale(1.2);
}
.f-content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.f-content svg{
    transform: scale(0.7);
    margin-top: -15px;
}
.f-content :nth-child(1){
    margin-right: 5px;
}
